body {
    background-color: #82dce3;
    height: 100vh;
    background-attachment: fixed;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.navbar-brand i {
    margin-right: 10px;
}

.container {
    max-width: 1500px;
    margin-top: 10px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.message {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.error-message {
    color: red;
    font-size: 0.875rem;
}

