body {
    background-color: #22254b;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.form {
    background-color: #373b69;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 20px;
    color: #c7c7d1;
}

.input {
    background-color: transparent;
    border: 1px solid #c7c7d1;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.input::placeholder {
    color: #c7c7d1;
}

.input:focus {
    outline: none;
    border-color: #00bfff;
}

button.submit {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

button.submit:hover {
    background-color: #00aaff;
    transform: scale(1.05);
}

.signup {
    margin-top: 20px;
    color: #c7c7d1;
}

.signup a {
    color: #00bfff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
